html,body{
    height:100%;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#f3f4f6
}

#roundedDiv{    
    width: 30em;
    height: 30em;
    background: linear-gradient(135deg,#6ee7b7 0%,#3b82f6 100%);
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-family:system-ui,Segoe UI,Roboto,"Helvetica Neue",Arial;
    font-size:18px;
    box-shadow:0 10px 30px rgba(0,0,0,0.12);
    border-radius:24px;
    -webkit-transition:clip-path .25s ease;transition:clip-path .25s ease;
}

.conteudo{
    padding: 5em;
}

.control{
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 120px;
    background-color: rgb(238, 238, 247);
    border-radius: 12px;
}